:root {
	--font-size: 2rem;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

li, ul {
	list-style: none;
}


body {
	display: block;
    background-color: rgb(83, 86, 90);
	
}

.container {
	padding: 5vh 5vw;
}

.wrapper {
	display: flex;
    flex-direction: column;
    margin: 0 auto;
	max-width:44rem;
	row-gap: 1rem;
	width: 100%;   
}

.slider {
	overflow: hidden;
	display: flex;	
}

.slider-wrapper, .notes-wrapper{
	width: 400%;
	display: flex;
	transition: all .5s;
}

.slides {
    width: 100vw;
    height: 30rem;
    background-size: 100% auto;
}

#slide1:checked ~ .slider .slider-wrapper,
#slide1:checked ~ .footer .notes .notes-wrapper{
    margin-left: 0;
}
#slide2:checked ~ .slider .slider-wrapper,
#slide2:checked ~ .footer .notes .notes-wrapper {
    margin-left: -100%;
}
#slide3:checked ~ .slider .slider-wrapper,
#slide3:checked ~ .footer .notes .notes-wrapper {
    margin-left: -200%;
}
#slide4:checked ~ .slider .slider-wrapper,
#slide4:checked ~ .footer .notes .notes-wrapper {
    margin-left: -300%;
}



.slide1 { 
    background: url(assets/img/mem1.jpeg) center/contain no-repeat; 
}

.slide2 {
    background: url(assets/img/mem2.jpeg) center/contain no-repeat;
}

.slide3 { 
    background: url(assets/img/mem3.jpeg) center/contain no-repeat;
 }

.slide4 { 
	background: url(assets/img/mem4.jpeg) center/contain no-repeat;
 }

.wrapper > input {
	display: none;
}

.footer {
	display: flex;
	width: 100%;
}

.notes {
	width: 85%;
	overflow: hidden;
	display: flex;
}

.notes-text{
	display: inline-block;
	width: 100vw;
	font-size: var(--font-size);
	color: white;
}

.controls {
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.radio_label {
	width: 100%;
	height: 100%;
	padding: 5%;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.radio-element{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #0b48f1;
  display: block;
  border: 0.125rem solid #0b48f1;
  transition: all 0.5s;
}

.radio_label:hover .radio-element {
	background-color: white;
	border: 0.125rem solid white;
  }
  .radio_label:active .radio-element {
	background-color: #8b0000;
	border: 0.125rem solid #8b0000;
  }
  .radio_label:checked {
	border: 0.125rem solid white;
  }

#slide1:checked ~ .footer .el1 .radio-element,
#slide2:checked ~ .footer .el2 .radio-element,
#slide3:checked ~ .footer .el3 .radio-element,
#slide4:checked ~ .footer .el4 .radio-element {
  background-color: rgb(58, 60, 63);
  border: 0.125rem solid white;
}

#slide1:checked ~ .slider .slide1, 
#slide2:checked ~ .slider .slide2,
#slide3:checked ~ .slider .slide3,
#slide3:checked ~ .slider .slide4 {
	margin-left: 0;
	opacity:1;
}

  @media (max-width: 768px) {
	.slides {
		height: 27rem;
	}
	.footer {
		flex-direction: column;
		row-gap: 1rem;
		align-items: center;
		justify-content: center;
	}
	.radio-element{
		width: 1rem;
		height: 1rem;
	}
	.controls {
		order: 1;
	}
	
	.notes{
		order: 2;
		width: 100%;
	}
}

@media (max-width: 680px) {
	.slides {
		height: 23rem;
	}
	:root {
		--font-size: 1rem;
	}
}

@media (max-width: 500px) {
	.slides {
		height: 17rem;
	}
}
@media (max-width: 480px) {
	.slides {
		height: 15rem;
	}
}